body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    margin: 0;
}

nav ul {
    list-style: none;
}

header a {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}

header {
    margin: 78px 0 73px 180px;
}

input {
    background: #1F293799;
    color: #FFFFFF;
    font-family: Roboto;
    width: 224px;
    height: 40px;
    border-radius: 100px;

}


input::placeholder {
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding: 9px 128px 12px 49px;
}




.heroP {

    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 0 14px 0;
}

.dh1 {

    font-family: Roboto;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto 30px;
    width: 525px;
    height: 76px;

}

.d1 {

    font-family: Roboto;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.pimg {
    text-align: center;
    margin: 0 0 28px 0;
}

.pimg2 {
    text-align: center;
    margin: 0 0 69px 0;
}

.pimg2+.p1 {

    font-family: Roboto;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0em;
    width: 708px;
    height: 224px;
    margin: auto;
}


.p2 {

    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0em;
    width: 708px;
    height: 281px;
    margin: auto;


}

footer {

    font-family: Roboto;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin: 103px 0 77px 0;
}


.pdiv {
    width: 214px;
    height: 53px;
    margin: 0 351px 28px 875px;
}

.ppp {
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    padding: 0 0 0 60px;
}

.pp {
    color: #949eb4;
    font-size: 14px;
    margin: 0;
    line-height: 28px;
    padding: 0 0 0 60px;
}