body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
    max-width: 1440px;
}


header a {
    color: white;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}

header {
    margin: 78px 0 73px;
}

input {
    background: url(./icon.png) no-repeat center left 20px #1F293799;
    /* position: relative; */
    outline: none;
    border: none;
    padding: 11px 12px 11px 49px;
    border-radius: 16px;


}

input::placeholder {
    color: #a3a7ae;
}

footer {
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin: 103px auto 77px;

}

.header {

    display: flex;
    align-items: center;
    margin: 0 auto;
}

.header-nav {
    margin-left: 77px;
}

.header-nav ul {
    list-style: none;
    display: flex;
    gap: 39px;
    padding: 0;
}

.header-nav ul li:first-child {
    margin-right: 13px;
}


.header-search {
    margin-left: auto;

}

.header-logo {
    display: flex;
    align-items: center;
    gap: 11px;
}

.section__top {

    color: #a3a7ae;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 0 14px 0;

}

.section__h1 {
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto 30px;
    width: 525px;
    height: 76px;

}

.section-author__img {
    margin: 0;
}

.section-img {
    text-align: center;
    margin: 0 auto 69px;

}

.section-img__heroimg {
    border-radius: 10px;
}

.section-img+.section__p1 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0em;
    width: 708px;
    height: 224px;
    margin: auto;
}


.section__p2 {
    line-height: 30px;
    letter-spacing: 0em;
    width: 708px;
    height: 281px;
    margin: auto;
}

.section-author {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 31px;
    line-height: 28px;
}

.section-author__namesurname {
    margin: 0;
}

.section-author__post {
    color: #949eb4;
    font-size: 14px;
    margin: 0;
}

/* загрузка - эт я мзменения вносил чтобы в ворке отобразилось. А то сложности возникли после того как замерджил ветку CSS но изменения после мерджа еще вносил) */